<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <!-- Card showing the selected eeg data -->
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title text-center text-black-50 font-weight-bold">EEG Data</h4>
                    </div>

                    <!-- Search bar -->
                    <div class="card-body" *ngIf="isShowSearch.valueOf()">
                        <form class="navbar-form">
                            <div class="row sub-div">
                                <i class="material-icons text-gray">search</i>
                                <input type="text" class="form-control col-md-6"
                                       [(ngModel)]="searchText"
                                       autocomplete="off" name="search"
                                       placeholder="   Type id, or date to search">
                            </div>
                        </form>
                    </div>

                    <div class="card-body">

                        <div *ngIf="eegs.length === 0">
                            <br/>
                            <br/>
                            <h4 class="font-italic text-gray text-center">No saved EEGs</h4>
                        </div>
                        <!-- Individual eeg display -->
                        <div class="alert" *ngIf="isShowEEG.valueOf()">
                            <button mat-raised-button type="button" matTooltip="Close"
                                    [matTooltipPosition]="'above'"
                                    class="btn btn-danger btn-link btn-sm btn-just-icon close"
                                    data-dismiss="alert" aria-label="Close" (click)="closeEEG()">
                                <i class="material-icons">close</i>
                            </button>
                            <br/>
                            <div class="font-weight-bold text-black-50 text-center">
                                <a> EEG Data (ID- {{showingEEG.id}}) for the patient(ID) :{{showingEEG.subjectId}}</a>
                            </div>
                            <br/>
                            <div class="card-avatar text-center">
                                <p>
                                    <a href="javascript:void(0)">
                                        <img class="img col-md-10 text-center" [src]="showingEEG.signalImage"/>
                                    </a>
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-md-6 text-center text-black-50 font-weight-bold">
                                    <a> Duration: {{showingEEG.duration}}</a>
                                </div>
                                <div class="col-md-6 text-center text-black-50 font-weight-bold">
                                    <a>Recorded Date: {{showingEEG.recordedDate}}</a>
                                </div>
                            </div>
                        </div>

                        <!-- EEG Table -->
                        <div class="table-responsive">
                            <table class="table" *ngIf="eegs.length!==0">
                                <thead class="text-primary text-center">
                                <th class="col-md-1"> ID</th>
                                <th class="col-md-2"> Patient ID</th>
                                <th class="col-md-1"> Duration</th>
                                <th> Recorded Date</th>
                                <th> Actions</th>
                                </thead>
                                <tbody class="text-center">
                                <tr *ngFor="let eeg of eegs | filter:searchText">
                                    <td>{{eeg.id}}</td>
                                    <td>{{eeg.subjectId}}</td>
                                    <td>{{eeg.duration}}</td>
                                    <td>{{eeg.recordedDate}}</td>
                                    <td class="text-primary">
                                        <button mat-raised-button type="button" matTooltip="Show Results"
                                                [matTooltipPosition]="'above'" (click)="onViewEEG(eeg)"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">visibility</i>
                                        </button>

                                        <button mat-raised-button type="button" matTooltip="Delete"
                                                [matTooltipPosition]="'above'" (click)="onDeleteEEG(eeg)"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
